.wrapper {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 500px;
  top: 0;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
  z-index: 999;
}

.buttonDanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.buttonSuccess {
  color: #fff;
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.appPayload {
  width: 100%;
  word-break: break-word;
}
